@import './foundation/scss/foundation';

h1 {
  color: blue;
}

#container {
	position:relative;
	top:150px;
	margin:0 auto;
	max-width:950px;
	background:white;
	border-left: 5px solid #27c644;
	box-shadow: 0px -1px 30px #888;
	border-right: 5px solid #27c644;
	border-top: 5px solid #27c644;
	border-bottom: 5px solid #27c644;
}